.dropbox, .dropzone, .hide-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errors {
  color: red;
}

.hide-text {
  height: 100%;
  justify-content: space-around;
  margin: 25px 0px;
  img {
    margin: 5px 0px;
  }
}

.dropzone {
  background: #FEFEF6;
  border: 2px solid #1D5F9B;
  border-radius: 8px;
  height: 196px;
  width: 316px;
  label {
    text-decoration: underline;
    color: #1D5F9B;
  }
}

.drop-button {
  height: 51px;
  width: 198px;
  text-align: center;
  margin-top: 20px;
}

.progress-bar {
  background-color: rgb(101, 150, 104);
  height: 100%;
  z-index: 1;
}

.progress-bar-container {
  position: absolute;
  top: 91px;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: 1



}


.drop-button {
  background-image: linear-gradient(-180deg, #76AFD8 0%, #4A90E2 100%);
  border: 2px solid #1D5F9B;
  border-radius: 8px;
  color: #FFFFFF;
  &:hover {
    cursor: pointer;
    background-image: #1D5F9B;
  }
}

.drop-text, .dropzone label {
  font-family: Tahoma;
  font-weight: bold;
  font-size: 14px;
}


.inputfile {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    display: inline-block;
    cursor: pointer;
}

.preview {
  height: 180px;
  margin-top: 10px;
}
